<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Our Group - Home</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Our Group</a>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">Our Group - Group Contract</h1>
        <p class="lead">We are Group 6. 
            Communication: We plan on communicating through text message atleast twice per week 
            Expectations: All members must fully participate in all activities that are to be turned in, Each group member should contribute maximum effort throughout our time working together
            Values: As a group we value maximum effort and communication between group members.</p>
    </div>

    <div class="container mt-5">
        <h2>About Us</h2>

        <div class="card-group">
            <div class="card">
                <img src="AdamPicture.png"alt="Adam Headshot">
                    <div class="card-body">
                        <h5 class="card-title">Adam Daud</h5>
                        <p class="card-text">Good at: GUI Design</p>
                        <p class="card-text">Challenges:Java coding</p>
                    </div>
                </div>

            <div class="card">
                <img src="NickPicture.png"alt="Nick in soccer uniform">
                <div class="card-body">
                    <h5 class="card-title">Nick Ruggeri</h5>
                    <p class="card-text">Good at: CSS and Javascript</p>
                    <p class="card-text">Challenges: GUI Design and bootstrap</p>
                </div>
            </div>

            <div class="card">
                <img src="ConnorPicture.png"alt="Connor in Hockey Uniform">
                <div class="card-body">
                    <h5 class="card-title">Connor Smith</h5>
                    <p class="card-text">Good at: Bootstrap and Jquery</p>
                    <p class="card-text">Challenges: Java programming</p>
                </div>
            </div>

            <div class="card">
                <img src="AlexanderPicture.png"alt="Alexander playing guitar">
                <div class="card-body">
                    <h5 class="card-title">Alexander Gracey</h5>
                    <p class="card-text">Good at:Programming with java script</p>
                    <p class="card-text">Challenges:Jquery</p>
                </div>
            </div>

            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>

    </body>
    </html>